@font-face {
  font-family: 'ZenzeroGrotesk';
  src: url('ZenzeroGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('ZenzeroGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZenzeroGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
       url('ZenzeroGrotesk-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('ZenzeroGrotesk-Regular.svg#ZenzeroGrotesk-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
h1 {
  font-family: 'ZenzeroGrotesk'
}
* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: black;
  font-weight: bold;
}
body {
  background-color: #F5F5E9;
}
.box > img {
  width: 275px;
  height: 240px;
}
.box1 > img {
  width: 275px;
  height: 240px
}
.header {
  display: flex;
  gap: 20px;
  justify-content: center;
}
img {
  /* border: 7px double black; */
}
.header > h1 {
  align-self: center;
}
.section1 {
  display: flex;
  gap: 20px;
}
.section1 > p {
  align-self: center;
  /* border: 2px solid black; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}
.whiteborder {
  /* border: 2px solid black; */
  padding-left: 10px;
  padding-bottom: 6px;
  /* padding-right: 10px; */
}
.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.section2 > p {
  align-self: flex-end;
}
.section2 > img {
  align-self: flex-start;
}
.box {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
hr{
  height: 6px;
  background-color: red;
  border: none;
}
/* TABLE */

 table,td, th {
  border: 2px solid black;
  border-collapse: collapse;
}
table {
  width: 500px;
  /* margin-left: 50%;
  margin-right: 100%; */
  margin: auto;
  border: 3px solid black;
}

/* th {
  background-color: rgb(128,128,128,0.5);
  color: red;
} */

@media (max-width:600px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .section1 > img {
    width: 100%;
    height: 200px;
  }
  .section1{
    display: flex;
    flex-wrap: wrap;
  }
  table{
    width: 190px;
  }
  .section2 {
    display: flex;
    flex-direction: column;
  }
}
