@font-face {
    font-family: "gliten";
    src: url("GLITTEN ALL CAPS.ttf")
  }
body{
    background-color: #EFCAD6;
}
.reduce{
 width: 275px;
 height:173px;
}
.reduce2{
    height:183px
}
.border{
    border: 4px solid black
}
h1{
    font-family:gliten;
    font-size: 40px;
    letter-spacing: 3px;
}
.white{
    border: 3px solid white;
}
img{
    opacity: 30%;
}